.form-group
  label(for="fullname") Full name
  input#fullname.form-control(name="fullname", type="text", value=laptop.name)
.form-group
  label(for="title") Title
  input#title.form-control(name="title", type="text", value=laptop.title)
.form-group
  label(for="color") Color
  input#color.form-control(name="color", type="text", value=laptop.color)
.form-group
  label(for="price") Price
  input#price.form-control(name="price", type="text", value=laptop.price)


